{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="align-items-center" style="margin:40px; text-align:center;">
  <form action="{% url 'updateDataSave' %}" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Update {{ court_name }}</legend>
      <div class="form-group">
        <label for="court_name">Location Name:</label><br>
          <input type="text" id="court_name" title="Enter the location name: " name="court_name" value="{{ court_name }}"/>
        <br />
      </div>
        <div class="form-group">
          <label for="street_address">Street Address:</label><br>
            <input type="text" id="street_address" title="Enter the street address: " name="street_address" value="{{ street_address }}"/>
          <br />
        </div>
        <div class="form-group">
          <label for="city">City:</label><br>
            <input type="text" id="city" title="Enter the city: " name="city" value="{{ city }}"/>
          <br />
        </div>
        <div class="form-group">
          <label for="state">State: {{ state }}</label>
            <input type="text" id="state" name="state" value="{{ state }}" hidden/>
        </div>
      <div class="form-group">
        <label for="courts">Number of Courts:</label><br>
          <input type="text" id="courts" title="Enter the number of courts: " name="courts" value="{{ courts }}"/>
        <br />
      </div>
        <div class="form-group">
          <label for="openTime">Open Time:</label>
            <input type="time" id="openTime" title="What time do the court(s) open?: " name="openTime" value="{{ openTime }}"/>
          <br/>
        </div>
        <div class="form-group">
          <label for="closeTime"
            >Close Time:
            <input type="time" id="closeTime" title="What time do the court(s) close?: " name="closeTime" value="{{ closeTime }}"/>
          </label>
          <br />
        </div>

      <div class="form-group">
        {% if indoor == True %}
            <input type="radio" id="indoor" name="indoor" value=True checked>
            <label for="indoor">Indoor</label><br>
            <input type="radio" id="outdoor" name="indoor" value=False>
            <label for="outdoor">Outdoor</label><br>
        {% else %}
            <input type="radio" id="indoor" name="indoor" value=True>
            <label for="indoor">Indoor</label><br>
            <input type="radio" id="outdoor" name="indoor" value=False checked>
            <label for="outdoor">Outdoor</label><br>
        {% endif %}
      </div>

      <div class="form-group">
        <input hidden name="id" value={{ id }}>
      </div>
      <div class="form-group">
        <button class="button-17" type="submit">Save</button>  
      </div>
</fieldset>
</form>
</div>

{% endblock %}
